.setup-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-56%);
}
.setup-box {
    height: 60vh;
    width: 64vw;
}
.setup-title-tilted {
    text-shadow: 2px 2px 5px #b68500;
    transform: rotate(-6deg);
}