.settings-navigation-animation {
    animation: slide-in 1s 0s 1 forwards ease-out;
}

@keyframes slide-in {
    0% {
        transform: translateX(-120%);
    }
    70% {
        transform: translateX(3%);
    }
    100% {
        transform: translate(0);
    }
}
